# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Editor config
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Qt Designer
*.ui
*.qrc

# Logs
*.log

# Other
*.bak